* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(photos/22x.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin: 30px;
    color: azure;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.my_text {
    margin-left: 30px;
    color: rgb(127, 255, 127);
    margin-bottom: 15px;
    font-size: 30px;
}

.num {
    width: 100px;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 10px;
    font-size: 30px;
}

button {
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: black;
    font-size: 30px;
}
button:hover {
    background-color: green;
    cursor: pointer;
}

.passw {
    margin-top: 2px;
    margin-left: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.238);
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
}
